<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/application.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/appartment_list}" method="get">
    <button class="btn btn-primary btn-block btn-lg" type="Submit">Go To All Apartment</button>
</form>
<div class="container">
    <div class="card mb-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <label class="col-md-4 col-form-label">Title : </label>
            <h5 th:utext="${appartment.title}" class="card-title"></h5>
            <label class="col-md-3 col-form-label">Description : </label>
            <p th:utext="${appartment.description}" class="card-text"></p>
            <label class="col-md-3 col-form-label">Price : </label>
            <p th:utext="${appartment.price}" class="card-text"></p>
            <label class="col-md-3 col-form-label">Address : </label>
            <p th:utext="${appartment.address}" class="card-text"></p>
            <label class="col-md-3 col-form-label">Capacity : </label>
            <p th:utext="${appartment.capacity}" class="card-text"></p>
            <label class="col-md-3 col-form-label">Type : </label>
            <p th:utext="${appartment.type}" class="card-text"></p>
            <label class="col-md-3 col-form-label">Owner : </label>
            <p th:utext="${appartment.owner.email}" class="card-text"></p>
        </div>
        <div>
            <form th:action="@{/reservationRequest/(id=${appartment.id})}" method="post">
                <button th:if="${currentUser.id != appartment.owner.id}" class="btn btn-primary" type="submit">Rent</button>
            </form>
        </div>
    </div>
</div>
<div class="mt-5"></div>
<form th:action="@{/logout}" method="get" class="fixed-bottom">
    <button class="btn btn-danger btn-block btn-lg" type="Submit">Logout</button>
</form>

</body>
</html>