<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/application.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" type="Submit">Logout</button>
    </form>

    <div class="row">
        <h4 class="display-4 col-md-4 col-md-offset-4 text-center" th:utext="${userName}"></h4>
    </div>

    <div class="row">
        <button type="button" class="btn btn-primary col-md-3 col-md-offset-2 large"><i class="fa fa-home"></i><br>Propriétaire</button>
        <button type="button" class="btn btn-info col-md-3 col-md-offset-2 large"><i class="fa fa-user"></i><br>Locataire</button>
    </div>

</div>
</body>
</html>